*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("./WhatsApp Image 2026-01-02 at 2.24.55 PM.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}